@import "./color.css";


.alumno-card {
    background: white;
    padding: 32px;
    border-radius: 20px;
    border: 2px solid var(--color2);
    box-shadow: 0px 6px 20px var(--shadow);
}

.alumno-nombre {
    font-size: 32px;
    font-weight: 700;
    color: var(--color5);
}

.materia-item {
    background: color-mix(in srgb, var(--color2) 40%, transparent);
    border-radius: 14px;
    padding: 12px;
    margin-top: 15px;
    border-left: 5px solid var(--color5);
    box-shadow: 0px 3px 12px var(--shadow-soft);
}

.materia-header {
    padding: 14px;
    font-weight: 700;
    background: color-mix(in srgb, var(--color3) 40%, transparent);
    border-radius: 12px;
    cursor: pointer;
    color: var(--color5);
    transition: 0.25s;
}

.materia-header:hover {
    background: var(--color4);
    color: white;
}

.materia-body {
    margin-top: 12px;
    padding: 14px;
    background: white;
    border-radius: 12px;
    border: 1px solid var(--color3);
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.tabla thead {
    background: #00988d;
    color: white;
}

.tabla th,
.tabla td {
    padding: 10px 12px;
    border-bottom: 1px solid #dcdcdc;
}

.tabla tbody tr:hover {
    background: #f0f7f7;
}
