.prof-layout {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: var(--color5);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.sidebar-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.sidebar-btn {
    background: var(--color2);
    border-radius: 10px;
    padding: 12px;
    border: none;
    color: var(--color5);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.sidebar-btn.active {
    background: var(--color3);
    color: white;
}

.logout-btn {
    margin-top: auto;
    background: var(--color3);
    color: #fff;
    border-radius: 12px;
}

/* CONTENIDO */
.content {
    flex: 1;
    padding: 50px;
}

.materia-card {
    background: white;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 6px 25px var(--shadow);
    border: 1px solid var(--color2);
}

.materia-titulo {
    text-align: center;
    margin-bottom: 40px;
}

/* ACCORDION */
.acordeon-alumno {
    margin-bottom: 20px;
}

.acordeon-header {
    background: #92d0b3;
    padding: 18px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    color: var(--color5);
    transition: 0.2s;
}

.acordeon-header:hover {
    background: #7fbda1;
}

.acordeon-body {
    background: #ffffff;
    border: 1px solid var(--color2);
    border-radius: 12px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 0 4px 18px var(--shadow-soft);
}

/* TABLAS */
.tabla {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
}

.tabla th,
.tabla td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
